$color-primary: #f47824;
$color-secondary: #8489b2;

$color-white: #f6f5f7;
$color-slate-light-1: #e8e8e8;
$color-slate-light-2: #c4c4c4;
$color-slate-light-3: #bbb;
$color-slate-light-4: #888;

$color-slate-dark-1: #323133;
$color-slate-dark-2: #242225;
$color-slate-dark-3: #1e1b20;
$color-slate-dark-4: #1a171e;
$color-slate-dark-5: #120e16;
$color-black: #000;
